.card {
    max-width: 256px;
    border: 1px solid #DDD;
    border-radius: 8px;
}
.card-img {
    border-radius: 8px 8px 0 0;
}
.card-info {
    border-radius: 0 0 8px 8px;
    background-color: white;
}
.card-info_header {
    padding: 24px 16px;
}
.card-info_cat {
    margin-top: 0;
    margin-bottom: 8px;
    /* text-transform: uppercase; */
    font-size: 12px;
    color: #666;
}
.card-info_title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 20px;
}
.card-info_precio {
    padding: 24px 16px 16px;
    border-top: 1px solid #DDD;
    margin: 0;
}
.card-precio_icono {
    font-size: 12px;
}
.card-precio_numero {
    font-size: 20px;
    padding-left: 2px;
}