/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

:root {
    --rojo: #900;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;
}

img {
    max-width: 100%;
}

