<nav>
    <ul class="nav">
        <li class="nav-item">
            <!-- 
            routerLink para páginas internas es más performante que un href.
            Seguimos usando href para enlaces externos
            -->
            <a routerLink="./" class="nav-item_link">Inicio</a>
        </li>
        <li class="nav-item">
            <a routerLink="/nosotros" class="nav-item_link">Nosotros</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contacto" class="nav-item_link">Contacto</a>
        </li>
    </ul>
</nav>